.closed {
    display: none;
}

.info-container {
    position: fixed;
    width: 20vw;
    height: 30vw;
    background-color: #cecece;
    border-radius: 2vw;
    padding: 2vw;
}

.sc-image {
    width: 100%;
    height: 10vw;
    border-radius: 1vw;
}

@media screen and (max-width: 479px) {
    .info-container {
        position: fixed;
        width: 40vw;
        height: 60vw;
        background-color: #cecece;
        border-radius: 4vw;
        padding: 4vw;
    }

    .sc-image {
        width: 100%;
        height: 20vw;
        border-radius: 2vw;
    }

    .info-container .title.small.lowercase {
        text-align: start;
    }
}
